/* .section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.section1 {
  margin-top: 2em;
  padding: 2em;
  background-color: #3883a2;
  width: 80%;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: start;
}
.titre {
  font-size: 100px;
  font-weight: bold;
  color: white;
}
.para {
  font-size: 60px;
  font-weight: bold;
  color: white;
}
.button {
  background-color: white;
  width: 212px;
  height: 36px;
  border-radius: 10px;
}
.right {
  display: flex;
  width: 50%;
  justify-content: center;
}
.promesse {
  margin-top: 1em;
  width: 80%;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
}
.promesse1 {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.text {
  font-size: 18px;
  font-weight: bold;
}
.cnt1,
.cnt2 {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1520px) {
  .titre {
    font-size: 50px;
  }
  .para {
    font-size: 50px;
  }
  .Image {
    height: 30px;
    width: 30px;
  }
  .text {
    font-size: 12px;
  }
}

@media (max-width: 1205px) {
  .titre {
    font-size: 45px;
  }
  .right {
    height: 25vh;
    width: 40%;
    margin-right: 30px;
    background-image: url(../../public/1372-samsung-galaxy-a55-5g-8-256gb-azul-libre-review-removebg-preview\ 2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }
  .para {
    font-size: 40px;
  }
  .section1 {
    padding: 0.5;
    height: 1%;
  }
  .text {
    font-size: 10px;
  }
  .ctn1,
  .ctn2 {
    gap: 20px;
  }
  .promesse1 {
    width: 50%;
    gap: 10px;
  }
  .Image1 {
    display: none;
  }
}
@media (max-width: 740px) {
  .titre {
    font-size: 18px;
  }

  .para {
    font-size: 16px;
  }
  .section1 {
    padding: 2em;
    justify-content: center;
    background-image: url(../../public/assets/1372-samsung-galaxy-a55-5g-8-256gb-azul-libre-review-removebg-preview\ 2.svg);
    background-repeat: no-repeat;
    background-position: right;
  }
  .button {
    width: 60%;
    height: 20%;
    font-size: 12px;
  }
  .right {
    display: none;
  }
  .section1 {
    justify-content: start;
  }
  .left {
    justify-content: start;
    align-items: start;
  }
  .cnt1,
  .cnt2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .button {
    font-size: 10px;
  }

  .promesse1 {
    display: flex;
    width: 100%;
    margin-left: 0px !important;
    margin-right: 0px !important;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    display: flex;
  }
  .text {
    font-size: 10px;
  }
} */
